{
    "discordToken": "YOUR DISCORD BOT TOKEN HERE",
    "deepblue": {
        "commandStartChars": [".", "!"],
        "embedColor": 14496563,
        "botChannelName": "general",
        "modChannelName": "moderation",
        "perfsForRoles": ["blitz", "rapid"],
        "allPerfs": [
            "bullet", "blitz", "rapid", "classical",
            "chess960", "crazyhouse", "fide"
        ],
        "messageDeleteDelay": 600000,
        "staffRole": "Staff"
    },
    "ratingRoleManager": {
        "unrankedRole": "Unranked",
        "provisionalRole": "Provisional",
        "roles": [
            "1000-", "1000+", "1100+", "1200+", "1300+", "1400+", "1500+",
            "1600+", "1700+", "1800+", "1900+", "2000+", "2100+", "2200+",
            "2300+", "2400+", "2500+", "2600+", "2700++"
        ]
    },
    "lichessTracker": {
        "dataFile": "lichessData.json",
        "lichessApiUser": "https://lichess.org/api/user/%username%",
        "lichessApiManyUsers": "https://lichess.org/api/users",
        "lichessProfileUrl": "https://lichess.org/@/%username%",
        "apiRequestTimeout": 5000,
        "perRequest": 50,
        "updateAllDelay": 300000,
        "ratingDeviationThreshold": 75,
        "highRatingDeviationPenalty": 200
    },
    "fen": {
        "board": "icy_sea",
        "pieces": "alpha",
        "coords": 0,
        "size": 3,
        "analysisUrl": "https://lichess.org/analysis?fen=",
        "fenImgeApiUrl": "https://www.chess.com/dynboard"
    },
    "variants": {
        "channels": ["moderation", "general"],
        "list": [
            "Bullet",
            "Blitz",
            "Rapid",
            "Classical",
            "Chess960 or 960",
            "Crazyhouse or ZH or even CH"
        ]
    },
    "lichess": {
        "channels": ["moderation", "general"]
    },
    "rank": {
        "channels": ["moderation", "general"]
    },
    "list": {
        "channels": ["moderation", "general"],
        "perPage": 15,
        "inactiveThreshold": 1209600000
    },
    "remove": {
        "channels": ["moderation", "general"]
    },
    "arena": {
        "channels": ["moderation", "general"],
        "arenaRoleName": "Arena"
    },
    "league": {
        "channels": ["moderation", "general"],
        "leagueRoleName": "League"
    },
    "study": {
        "channels": ["moderation", "general"],
        "studyRoleName": "Study"
    },
    "help": {
        "channels": ["moderation", "general"],
        "fields": [
            {
                "name": "!Lichess [Lichess Username]",
                "value": "Links you to a specific username on Lichess."
            },{
                "name": "!Remove",
                "value": "Removes you from rating tracker."
            },{
                "name": "!List [variant] [page]",
                "value": "Displays leaderboard of players. Type !variants to see variant list."
            },{
                "name": "!ActiveList [variant] [page]",
                "value": "Displays leaderboard of players. Only lists people who are active on the server."
            },{
                "name": "!Rank [@User or Lichess username]",
                "value": "Displays your current ranking in the leaderboard."
            },{
                "name": "!ActiveRank [@User or Lichess username]",
                "value": "Displays your current ranking in the active players leaderboard."
            },{
                "name": "!Arena",
                "value": "Toggles arena role."
            },{
                "name": "!League",
                "value": "Toggles league role."
            },{
                "name": "!Study",
                "value": "Toggles study role."
            },{
                "name": "!Fen [FEN]",
                "value": "Will show chess board image with a given position."
            },{
                "name": "!Variants",
                "value": "Shows list of available variants for !list or !active commands."
            },{
                "name": "!Remove [@User or Lichess username]",
                "value": "Staff only command. Removes given user or username from rating tracker."
            }
        ]
    }
}