{
    "discordToken": "YOUR DISCORD BOT TOKEN HERE",
    "deepblue": {
        "commandStartChars": [".", "!"],
        "embedColor": 14496563,
        "botChannelName": "general",
        "modChannelName": "moderation",
        "perfsForRoles": ["blitz", "rapid"],
        "allPerfs": [
            "bullet", "blitz", "rapid", "classical",
            "chess960", "crazyhouse"
        ],
        "staffRole": "Staff"
    },
    "ratingRoleManager": {
        "unrankedRole": "Unranked",
        "provisionalRole": "Provisional",
        "roles": [
            "White Belt", "Yellow Belt", "Orange Belt", "Green Belt", "Blue Belt", "Purple Belt", "Brown Belt",
            "Red Belt", "Black Belt"
        ]
    },
    "lichessTracker": {
        "dataFile": "lichessData.json",
        "lichessApiUser": "https://lichess.org/api/user/%username%",
        "lichessApiManyUsers": "https://lichess.org/api/users",
        "lichessProfileUrl": "https://lichess.org/@/%username%",
        "apiRequestTimeout": 5000,
        "perRequest": 50,
        "updateAllDelay": 300000
    },
    "fen": {
        "board": "icy_sea",
        "pieces": "alpha",
        "coords": 0,
        "size": 3,
        "analysisUrl": "https://lichess.org/analysis?fen=",
        "fenImgeApiUrl": "https://www.chess.com/dynboard"
    },
    "lichess": {
        "channels": ["moderation", "general"]
    },
    "remove": {
        "channels": ["moderation", "general"]
    },
    "study": {
        "channels": ["moderation", "general"],
        "studyRoleName": "Study"
    },
    "help": {
        "channels": ["moderation", "general"],
        "fields": [
            {
                "name": "!Lichess [Lichess Username]",
                "value": "Links you to a specific username on Lichess."
            },{
                "name": "!Remove",
                "value": "Removes you from rating tracker."
            },{
                "name": "!Study",
                "value": "Toggles study role."
            },{
                "name": "!Fen [FEN]",
                "value": "Will show chess board image with a given position."
            },{
                "name": "!Remove [@User or Lichess username]",
                "value": "Staff only command. Removes given user or username from rating tracker."
            },{
                "name": "!Lichess [Lichess Username] [@User]",
                "value": "Staff only command. Links given user to a specific username on Lichess."
            }
        ]
    }
}
